button:hover {
    border-radius: 40px 40px 20px 20px;
    border: 2px solid rgba(128, 0, 128, 0.9);
    background-color: #333333;
    /*  transition: 500ms ease-in-out; */
}

/* click with mouse */
button:active {
    border-radius: 30px 30px 20px 20px;
    border: 2px solid rgba(128, 0, 128, 0.9);
    background-color: #222222;
}

button:not(.flat) {
    border-radius: 30px 30px 20px 20px;
    border: 2px solid rgba(128, 0, 128, 0.9);
    background: #222222;
}

window {
    /* margin: 4px 4px; */
    /* padding: 18px 18px; */
    border-radius: 40px 40px 20px 20px;
    border: 2px solid rgba(128, 0, 128, 0.9);
    box-shadow: rgba(0, 0, 0, 0.288);
    background-color: rgba(11, 00, 11, 0.9);
    /* border-width: 18px; */
    /* border-color: white; */
}